*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: right;
}
li,a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 14px;
}
li a:hover{
    background-color: #111;
    /* font-family: cursive; */
}